<h3>{{post.title}} by {{post.author}}</h3>
<img src="{{post.image}}" alt="{{post.category}}" />
<p>{{post.body}}</p>
{{update-post post=post update="update"}}
<button {{action 'delete' post}}>Delete</button>
