<h2>More information about {{post.title}} by {{post.author}}</h2>

<h3>{{post.title}}</h3> <br>
{{post.author}}<br>
{{post.body}}<br>
<img src="{{post.image}}" alt="{{post.category.name}}" /><br>
<hr>
<button {{action 'delete' post}}>Delete</button>
